<title>Mi Información</title>
<div class="container">
    <div class="text">
        <h2>Hector Ever Alonso Ramirez</h2>
        <p>
            Tengo 22 años y soy estudiante de ingenieria de desarrollo y gestion de software 
            en la Universidad Tecnologica de San Juan del Rio, cruzando el
            octavo cuatrimestre de la carrera.
            <br/>
            <br/>
            Tengo grado de:
            TSU. en Tecnologias de la informacion area desarrollo de software multiplataforma.
            <br/>
            <br/>
            Me gusta el ajedrez a nivel que he competido en importantes torneos llevandome Top 5 de los
            mejores jugadores
            <br/>
            <br/>
            Me gusta mucho la programacion y las bases de datos, aveces practico con videos o realizando algunos
            programas yo mismo para entender mejor y mejorar mi logica a la hora de programar
        </p>
    </div>
    <div class="image">
        <img src="perfil.jpg" alt="Mi foto">
    </div>
</div>